<section class="min-vh-100" id="">




<!-- Page Content -->
<div>
  <!-- Header/Home -->
  <div class="min-vh-100 w3-padding-32 w3-center w3-black" id="home" >

    <!--<i class="fa-solid fa-hat-cowboy"></i>-->
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span>

      <img
        width="100"
        alt="Torito Logo"
        src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644816267/brand_gp5nbj.png"
      ></h1>
    <p>Burgers & Beers</p>

<!--Carrousel -->
<div class="row w-100" >

<div id="myCarousel" class="carousel slide m-2 col-xs-12 col-sm-12 col-md-9 col-lg-8 col-xl-6 col-xxl-6 " data-bs-ride="carousel">

	  
	    <div class="carousel-indicators">
	      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
	      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
	      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
	    </div>
	    

	    <div class="carousel-inner">
	    <div class="carousel-item active">
	        
	       

	        <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1655864291/lomoMolleja_lsn9fp.jpg" class="bd-placeholder-img d-block" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" width="100%" height="600px" id="imgCar1">
	               

	   



	        <div class="container">
	          <div class="carousel-caption text-center" id="baseContainer">
	            <h1 >Menues con Carne</h1>
	            <p>Parrilla, sandwiches, burguers y milanesas.</p>
	            <p><a class="btn btn-xs btn-danger" href="https://quierolacarta.com/local/95" id="btnHomeSmall">Carta digital</a></p>
	          </div>
	        </div>
	      </div>
	      <div class="carousel-item">
	         <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1655865811/barTorito_ehdzga.jpg" class="bd-placeholder-img d-block" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" width="100%" height="600"  id="imgCar2">

	       



	        <div class="container">
	          <div class="carousel-caption text-center" id="baseContainer">
	            <h1>Bar</h1>
	            <p>Happy Hour, vinos, vegana, sin tacc, whiskies, gines, aperitivos, clásicos, etc.</p>
	             <p><a class="btn btn-xs btn-danger" href="https://quierolacarta.com/local/95" routerLink="/showroom"  routerLinkActive='actived' id="btnHomeSmall">Ver Giftcards</a></p>
	          </div>
	        </div>
	      </div>
	      <div class="carousel-item">
	        <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1655864291/toritoDelivery_xzfs3v.jpg" class="bd-placeholder-img d-block" alt="" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" width="100%" height="600"  id="imgCar3">
	      



	        <div class="container">
	          <div class="carousel-caption text-center" id="baseContainer">
	            
	            <h2> Regala una<strong> Torito Giftcard</strong></h2>
	            
	            <p>Opciones libre de gluten, veggie-vegan, menu infantil y promos para llevar!</p>

	            <p><a class="btn btn-xs btn-danger" routerLink="/buy-giftcard"  routerLinkActive='actived' id="btnHomeSmall">Comprar</a></p>
	          </div>
	        </div>
	      </div>
	    </div>
	    


	    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
	      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Previous</span>
	    </button>


	    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
	      <span class="carousel-control-next-icon" aria-hidden="true"></span>
	      <span class="visually-hidden">Next</span>
	    </button>


	  </div>




		<div class="container  h-100 " id="locales" >
		  <div class="row h-100" >
		    <div class="col-sm-12 col-md-12 h-100 p-4 m-2"  id="locales">
		   	 <div class=" text-center  "  ><p>Il Mercato  Maipú<br><i class='fa fa-phone'></i> 261-6- 291473 </p></div>
		    	</div>
			    <div class="col-sm-12 col-md-12 h-100  p-4 m-2" id="locales">
			    	<div class="text-center"><p>JB Justo  5ta Sección<br><i class='fa fa-phone'></i> 261-7-482680  </p></div>
			    </div>
		  </div>
		</div>



















			

</div>
</div>
</div>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Por favor, lee las instrucciones y confirma:</h5>

      
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" >
       
      </div>

   </div>
</div>
</div>


	
    



  


  



</section>
