<section class="min-vh-100" id="main">

<!-- Page Content -->
<div class="min-vh-100" id="">
  <!-- Header/Home -->
  <div class="min-vh-100 w3-padding-32 w3-center w3-black" id="home" >

    <!--<i class="fa-solid fa-hat-cowboy"></i>-->
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span>

      <img
        width="100"
        alt="Torito Logo"
        src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644816267/brand_gp5nbj.png"
      ></h1>
    <p>Burgers & Beers</p>
    <div class="col-sm-12 " >




   <div class="login min-vh-100" id="principalLogin">
    <div class="login-triangle"></div>

    <h2 class="login-header">Create an account</h2>
    <br>

    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <p>
        <input type="text" name="name" placeholder="name" ngModel required>
      </p>
      <p>
        <input type="email" name="email" placeholder="Email" ngModel required>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" ngModel required>
      </p>
      <br>
      <p>
        <button type="submit" value="Register"  class="btn btn-primary"><i class='fa fa-user-plus'></i> Registrar</button>
      </p>
    </form>
  </div>





	</div>
    



  </div>
</div>

  



</section>
