<section class="min-vh-100" id="main">

<!-- Page Content -->
<div class="min-vh-100" id="">
  <!-- Header/Home -->
  <div class="min-vh-100 w3-padding-32 w3-center w3-black" id="home" >

    <!--<i class="fa-solid fa-hat-cowboy"></i>-->
    <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span>

      <img
        width="100"
        alt="Torito Logo"
        src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644816267/brand_gp5nbj.png"
      ></h1>
    <p>Burgers & Beers</p>

<br>



<!--Cards -->
    <div class="row justify-content-center m-2 p-4" id="rowGiftcard">



<div class="card m-3 p-2 col-xs-12 col-sm-12 col-md-9 col-lg-4 col-xl-4 col-xxl-4">
  <div class="row no-gutters ">
    <div class="col-12  col-md-12  col-lg-6 ">
    	
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1644898489/torito6_ji0jzh.jpg"  class="card-img p-4" id="imgCard"  alt="...">
      
    </div>
    <div class="col-12 col-md-12  col-lg-6 col-xl-6 d-flex align-items-center"><div class="card-body" >
        <strong class="card-title">Couple Giftcard</strong><br><br>
        <p class="card-text" id="textCard">Almuerzo o Cena c/ postre. <br> Copa de vino o bebida s/ alcohol. <br> <br>2  personas.</p>
        

 <div class="card-footer">
  
    <a  (click)="checkout5000()"  routerLinkActive='actived' class="btn-sm btn-danger p-2"  id="btnShowRoom"><i class='fa fa-gift'></i> $ 5.000</a> 
  </div>


        
       
      </div>
    </div>
  </div>
</div>


<div class="card m-3 p-2 col-xs-12 col-sm-12 col-md-9 col-lg-4 col-xl-4 col-xxl-4">
  <div class="row no-gutters">
    <div class="col-12  col-md-12  col-lg-6" >
    	
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1655864291/toritoMilkaut_hv22fk.jpg"  class="p-4" id="imgCard" alt="...">
      
    </div>
    <div class="col-12  col-md-12 col-lg-6 d-flex align-items-center" >
      <div class="card-body">
        <strong class="card-title">Family Giftcard</strong><br><br>
        <p class="card-text"  id="textCard" >Almuerzo o Cena c/ postre. <br>  Copa de vino o bebida s/ alcohol. <br> <br>4  personas.</p>


        <div class="card-footer">
  
         <a (click)="checkout10000()"   routerLinkActive='actived' class="btn-sm btn-danger p-2 " id="btnShowRoom"><i class='fa fa-gift'></i> $ 10.000</a>	</div>
       
      </div>
    </div>
  </div>
</div>


<div class="card m-3 p-2 col-xs-12 col-sm-12 col-md-9 col-lg-4 col-xl-4 col-xxl-4" >
  <div class="row no-gutters">
    <div class="col-12  col-md-12  col-lg-6 ">
    	
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1655864291/toritoDelivery_xzfs3v.jpg"  class="p-4" id="imgCard" alt="...">
      
    </div>
    <div class="col-12  col-md-12  col-lg-6 d-flex align-items-center ">
      <div class="card-body" >
        <strong class="card-title">Giftcard a medida</strong><br><br>
        <p class="card-text" id="textCard"> Ingresa el monto de tu Gift Card!<br> <br> ¿Cuántas personas?  </p>
         

         <div class="card-footer">
 
         <a routerLink="/checkout"  routerLinkActive='actived' class="btn-sm btn-danger p-2" id="btnShowRoom"><i class='fa fa-gift'></i> $ Elige </a>	</div>
       
      </div>
    </div>
  </div>
</div>








<div class="card m-3 p-2 col-xs-12 col-sm-12 col-md-9 col-lg-4 col-xl-4 col-xxl-4 d-flex align-items-center" >
  
<div class="row no-gutters">
    <div class="col-12  col-md-12  col-lg-6 ">
      
      <img src="https://res.cloudinary.com/dzyvb836r/image/upload/v1656861437/277616433_1429650280825547_3941268777480328471_n_uhwar8.jpg"  class="p-4" id="imgCard" alt="...">
      
    </div>
    <div class="col-  col-md-12  col-lg-6 d-flex align-items-center ">
      <div class="card-body" >
       <strong class="card-title" ><i class='fa fa-phone'></i>  &nbsp;Atención al cliente</strong><br>
        <p class="card-text" id="textCard"> <br> ¿Deseas reportar un problema?<br><br>Completa el formulario</p>
          
<div class="card-footer">
  

          <a class="btn-sm btn-danger p-2"  id="btnShowRoom" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class='fa fa-hand-o-right'></i> Reportar</a> </div>
       
      </div>
    </div>
  </div>














</div>




<!--
<div style="color:white; font-size: 20px;" class="container-fluid m-2 p-4 ">

<div class="d-flex justify-content-center m-4">
<p>¿Tuviste un incoveniente?</p>
<br>
<p>¿Deseas reportar un problema?</p>
</div>
<br>
<a class="btn btn-danger p-2 m-4" href="/checkout" id="btnHomeSmall"></a>

</div>

-->

</div>
</div>
</div>
    <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" >
                <div class="modal-content" id="modalReport">
                  <div class="modal-header">
                    <h5 class="modal-title" style="color:white;" id=""><i class='fa fa-edit'></i> Crea un reporte:</h5>

                  
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white!important">X</button>
                  </div>

                  <div class="modal-body row" >
                    <div class="col-12" role="alert"  >

                        <form class="form-control" #reportForm="ngForm" (ngSubmit)="reportarProblema(reportForm)" id="reportForm">
                            <div id="emailHelp" class="form-text"> Por favor cuentanos en detalle tu problema para que podamos ayudarte.</div>
                            
                            <br>

                            <div class="mb-3">
                            <label for="name " class="form-label" ><strong> Nombre y apellido: </strong></label><br>
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="report.name" required />
                            <span class="form_error" *ngIf="name.touched && !name.valid">El nombre es obligatorio.</span>
                            </div>

                            


                              <div class="mb-3">
                            <label for="description" class="form-label"><strong> Descripción: </strong></label><br>
                            <textarea name="description" class="form-control" #description="ngModel"[(ngModel)]="report.description" required><br></textarea>
                            <div id="emailHelp" class="form-text"> No olvides incluir el numero del ticket de mercado pago.</div>
                           </div>
                            
                            <span class="form_error" *ngIf="description.touched && description.pristine">La descripción es obligatorio.</span>


                            <div class="mb-3">
                            <label for="date" class="form-label"> <strong>Fecha de compra: </strong></label><br>
                            <input type="date" class="form-control" name="date" #date="ngModel" [(ngModel)]="report.date"
                              required />
                            <span class="form_error" *ngIf="date.touched && !date.valid">La fecha de compra es obligatoria.</span>
                          </div>


                            <div class="mb-3">
                            <label for="emailClient" class="form-label"><strong> Email: </strong></label><br>
                            <input type="text" class="form-control" name="emailClient" #emailClient="ngModel" [(ngModel)]="report.emailClient" required />
                            

                            <span class="form_error" *ngIf="emailClient.touched && !emailClient.valid">El e-mail es obligatorio.</span>
                             </div>


                            <div class="mb-3">
                            <label for="phoneClient" class="form-label" ><strong> Teléfono del cliente: </strong></label><br>
                            <input type="text" class="form-control" name="phoneClient" #phoneClient="ngModel" [(ngModel)]="report.phoneClient" required />
                           


                            <span class="form_error"  *ngIf="phoneClient.touched && phoneClient.pristine">El teléfono es obligatorio.</span>
                            </div>

                                  <br>

                            <div class="d-flex justify-content-center"><button  class="btn btn-warning" type="submit"  [disabled]="!reportForm.form.valid"> <i class='fa fa-send-o'></i> Enviar </button></div>
                            <br>
                            
                        

                            
                      
                            


                          </form>
                                                                
                       


                  <!--<button class="btn btn-warning" (click)="entendidoMet()">Ok</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>

<!--FIN MODAL-->

	
    



  


  



</section>




























	


